*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../img/bg2.jpg);
}

div.box{
    
    background-color: #383838;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 80px 40px 80px;
    border-radius: 5px;
    
}
p{
    color: white;
}
h4{
    color: white;
    font-weight: 400;
}

.logo{
    display: flex;
    justify-content: center;
}
.inputs{
    display: flex;
    flex-direction: column;
}

.inputs input{
    display: flex;
    justify-content: center;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16pt;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    
}

button{
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 15px;
    background-color:#7f02d6;
    color: white;
    font-size: 15pt;
    cursor: pointer;
}
h4{
    padding: 5px;
}

img{
    width: 40%;
    display: flex;
    justify-content: center;
}